* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #131313;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
}

.menu__list {
  display: flex;
  padding-right: 70px;
}

.menu__link {
  padding: 42px 20px 41px 18px;
  text-transform: uppercase;
  transition: all .3s;
}

.menu__link:hover {
  background: #131313;
  color: #fff;
}

.advantages {
  padding-top: 150px;
  display: flex;
  align-items: flex-start;
}

.advantages__items {
  display: flex;
  flex-direction: column;
  gap: 50px 0;

}

.advantages__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__item-desc {
  max-width: 450px;
}

.advantages__img {
  margin-right: 60px;
}

.slider__item-images {

}

.gallery {
  padding-top: 150px;
}

.gallery-slider {
  padding-left: 50px;
}

.gallery-slider__item {
  height: 632px;
}

.gallery-slider__item img {
  height: 100%;
  background-size: cover;
}

.slick-dots {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.slick-dots button {
  font-size: 0;
  border: 0;
  padding: 0;
  width: 2px;
  height: 25px;
  background: #131313;
  border-radius: 7px;
  cursor: pointer;
}

.slick-active button {
  background: #FF4040;
}
