* {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #131313;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: block;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  background: #131313;
  padding: 28px 0;
  width: 100%;

}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
}

.menu__list {
  display: flex;
  padding-right: 70px;
}

.menu__link {
  padding: 42px 20px 41px 18px;
  text-transform: uppercase;
  transition: all .3s;
}

.menu__link:hover {
  background: #131313;
  color: #fff;
}

.intro {
  padding-top: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__stats {
  width: 100%;
}

.intro__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.intro__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #6F6F6F;
  margin-bottom: 80px;
}

.intro__body {
  max-width: 420px;
}

.intro__body p {
  margin-bottom: 20px;
}

.btn--intro {
  margin-top: 60px;
}

.advantages {
  padding-top: 150px;
  display: flex;
  align-items: flex-start;
}

.advantages__items {
  display: flex;
  flex-direction: column;
  gap: 50px 0;

}

.advantages__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__item-desc {
  max-width: 450px;
}

.advantages__img {
  margin-right: 60px;
}

.slider__item-images {

}

.gallery {
  padding-top: 150px;
}

.gallery-slider {
  padding-left: 50px;
}

.gallery-slider__item {
  height: 632px;
}

.gallery-slider__item img {
  height: 100%;
  background-size: cover;
}

.slick-dots {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.slick-dots button {
  font-size: 0;
  border: 0;
  padding: 0;
  width: 2px;
  height: 25px;
  background: #131313;
  border-radius: 7px;
  cursor: pointer;
}

.slick-active button {
  background: #FF4040;
}

.specifications {
  padding-top: 150px;
}

.specifications__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.specifications__inner {
  display: flex;
  justify-content: space-between;
}

.specifications-table {
  max-width: 570px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.specifications-table__head {
  background: #131313;
  color: #fff;
  padding: 2px 3px;
  margin-bottom: 10px;
  text-transform: uppercase;

}

.specifications-table__body {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.specifications-table__body-item {
  display: flex;
}

.specifications-table__col {
  width: 50%;
}

.footer {
  padding: 20px 0;
  background: #131313;
  margin-top: 100px;
}

.copy {
  color: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.networks {
  display: flex;
  gap: 0 28px;
}


.contacts {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.contacts a {
  display: flex;
  align-items: center;
}

.contacts img {
  margin-right: 10px;
}
