*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #131313;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: block;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 0;
  background: #131313;
  padding: 28px 0;
  width: 100%;

}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
}

.menu__list {
  display: flex;
  padding-right: 70px;
}

.menu__link {
  padding: 42px 20px 41px 18px;
  text-transform: uppercase;
  transition: all .3s;
}

.menu__link:hover {
  background: #131313;
  color: #fff;
}

.bike {
  padding: 100px 0 150px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;

}

.bike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 60px 0 5px;
}

.bike__subtitle {
  margin: 0 0 60px;
  font-size: 32px;
  line-height: 39px;
  color: #6F6F6F;
}

.bike__text {
  max-width: 420px;
  margin-bottom: 20px;
}

.bike__link {
  margin-top: 80px;
  display: inline-block;
  background-color: #131313;
  color: #fff;
  padding: 28px 81px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
}

.bike-slider .slick-dots {
  right: 0;
  left: auto;
  top: 50px;
}

.bike__list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.bike__list-item {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 58px;
}

.bike__list-num {
  font-weight: 700;
  text-transform: uppercase;
}

.bike__list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: auto 0;
}

.advantages {
  padding-top: 150px;
  display: flex;
  align-items: flex-start;
}

.advantages__items {
  display: flex;
  flex-direction: column;
  gap: 50px 0;

}

.advantages__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages__item-desc {
  max-width: 450px;
}

.advantages__img {
  margin-right: 60px;
}

.slider__item-images {

}

.gallery {
  padding-top: 150px;
}

.gallery-slider {
  padding-left: 50px;
}

.gallery-slider__item {
  height: 632px;
}

.gallery-slider__item img {
  height: 100%;
  background-size: cover;
}

.slick-dots {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.slick-dots button {
  font-size: 0;
  border: 0;
  padding: 0;
  width: 2px;
  height: 25px;
  background: #131313;
  border-radius: 7px;
  cursor: pointer;
}

.slick-active button {
  background: #FF4040;
}

.specifications {
  padding-top: 150px;
}

.specifications__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.specifications__inner {
  display: flex;
  justify-content: space-between;
}

.specifications-table {
  max-width: 570px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.specifications-table__head {
  background: #131313;
  color: #fff;
  padding: 2px 3px;
  margin-bottom: 10px;
  text-transform: uppercase;

}

.specifications-table__body {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.specifications-table__body-item {
  display: flex;
}

.specifications-table__col {
  width: 50%;
}

.price {
  margin-bottom: 100px;
}

.price__inner {
  position: relative;
}

.form {
  max-width: 420px;
}

.form__title {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 50px;
}

.form__text {
  max-width: 300px;
  margin-bottom: 30px;
}

.form__input-name,
.form__input-phone {
  width: 100%;
  border: none;
  border-bottom: 1px solid #131313;
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}

.form__input-name::placeholder,
.form__input-phone::placeholder,
.form-input__text {
  color: #6F6F6F;
  opacity: 0.5;
}

.form-input__text {
  margin-bottom: 10px;
}

.form__label-box {
  display: flex;
}

.form__label + .form__label {
  margin-left: 23px;
}

.form__input-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__input-radio:checked + .form__bike {
  display: block;
}

.form__bike-price {
  font-size: 32px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF4040;
  border-radius: 50%;
}

.form__bike-price::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 100px;
  border: 1px solid #FF4040;
  border-radius: 50%;
  top: 12px;
  left: 0;
}

.form__bike {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.form__radio-style {
  border-radius: 30px;
  width: 80px;
  height: 12px;
}

.form__radio-style--grey {
  background: #6F6F6F;
}
.form__radio-style--white {
  background: #ffffff;
  border: 1px solid #6F6F6F;
}
.form__radio-style--red {
  background: #FF4040;
}











.footer {
  padding: 20px 0;
  background: #131313;
  margin-top: 100px;
}

.copy {
  color: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.networks {
  display: flex;
  gap: 0 28px;
}


.contacts {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.contacts a {
  display: flex;
  align-items: center;
}

.contacts img {
  margin-right: 10px;
}
